{% extends "base.html" %}
{% block content %}
  <h1> Food Detail Page </h1>
  <form action="/food_detail/{{food.id}}" method="POST">
    <input type="text" name="name" value="{{food.name}}">
    <input type="text" name="rating" value="{{food.rating}}">
    <input type="submit" value="Submit">
  </form>
  <form action="/food_detail/{{food.id}}/delete" method="POST">
    <input type="submit" value="Delete {{food.name}}">
  </form>
  <button><a href="/">Back to the Home Page</a></button>
{% endblock %}
